@mixin button-styling {
    color: $light-lilac;
    background: $dark-lilac;
    border-radius: 8px;
    padding: 10px 15px;
    &:hover {
        cursor: pointer;
        color: $lightest-lilac;
    }
    &:disabled {
        cursor: not-allowed;
        color: $light-lilac;
    }
}