<div class="main-container">
    <div class="title">
        Rick and Morty characters
    </div>

    <div class="button">
        <button *ngIf="!showCharacters" (click)="onShowAll()">Show all characters</button>
        <button *ngIf="showCharacters" (click)="onHideAll()">Hide all characters</button>

        <form [formGroup]="characterForm" class="form" *ngIf="!showCharacters">
            <input formControlName="characterNumber" type="number" min="1" max="20" />
        </form>
        <button *ngIf="!showCharacters" (click)="onShowCharacter()" [disabled]="characterForm.invalid">Show a character</button>
    </div>

    <div *ngIf="showCharacters">
        Total number of characters shown: {{ allCharacters.length }}
    </div>

    <div class="characters-container" *ngIf="showCharacters">
        <div class="character-card" *ngFor="let char of allCharacters">
            <div>
                <img [src]="char.image" />
            </div>
            <div>
                Name: {{ char.name }}
            </div>
            <div>
                Status: {{ char.status }}
            </div>
            <div>
                Species: {{ char.species }}
            </div>
            <div>
                Gender: {{ char.gender }}
            </div>
            <div>
                Origin: {{ char.location.name }}
            </div>
        </div>
    </div>
</div>
